.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    /* black color with transparency */
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.scroll-to-top-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* slightly more opaque on hover */
}