.FlipcardFront,
.FlipcardBack {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.FlipcardFront {
    background-color: #34495e;
    gap: 0.2rem;
}

.FlipcardBack {
    background-color: white;
    flex-direction: column;
    cursor: pointer;
}

.projectImage {
    height: 75%;
    width: 100%;
    background-image: url('https://i.imgur.com/BVkPScj.jpg');
    border-radius: 0.3rem;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.projectTitle {
    height: 25%;
    background-color: white;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    padding-bottom: 0.2rem;
    width: 100%;
    border-radius: 0.3rem;
    text-align: center;
}

.projectTitle>label {
    font-size: 0.5rem;
    font-weight: 500;
}

.Projectdescription {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Projectdescription>p:first-child {
    color: #34495e;
    text-align: left;
}

.Projectdescription>p {
    padding: 0.2rem;
    font-size: 0.45rem;
    font-weight: 500;
}

.projectButtonWrapper {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectButtons {
    text-decoration: none;
}

.projectButtons>button {
    height: 1.3rem;
    width: 3rem;
    font-size: 0.4rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: none;
    margin: 0.2rem;
    cursor: pointer;
    background-color: #34495e;
    color: white;
}

.projectButtons>button:last-child {
    width: 3.5rem;
}

.topicCovered {
    height: 2.5rem;
}