.FlipcardFront,
.FlipcardBack {
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
    background-image: url('https://i.imgur.com/BVkPScj.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.FlipcardBack {
    background-color: white;
    background-image: none;
    flex-direction: column;
    cursor: default;
}

.projectTitle {
    height: 25%;
    background-color: rgba(255, 255, 255, 0.762);
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    padding-bottom: 0.2rem;
    width: 100%;
    text-align: center;
}

.projectTitle>label {
    font-size: 0.6rem;
    font-weight: 500;
}

.Projectdescription {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Projectdescription>p {
    padding: 0.2rem;
    font-size: 0.45rem;
    font-weight: 500;
}

.projectButtonWrapper {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectButtons {
    text-decoration: none;
}

.projectButtons>button {
    height: 1.3rem;
    width: 3rem;
    font-size: 0.4rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    border: none;
    margin: 0.2rem;
    cursor: pointer;
}

.projectButtons>button:last-child {
    width: 3.5rem;
}