.homepage {
    width: 100vw;
    height: 100vh;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
}

/********* NAV BAR **********/

.nav-bar {
    background: linear-gradient(to bottom right, #111111, #4b4b4b);
    /* background-color: white; */
    height: 1.7rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.menuicons {
    height: 1.7rem;
    display: flex;
    color: white;
    /* color: black; */
    justify-content: center;
    gap: 2.5rem;
    width: 100%;
}

.icons .link-style {
    display: grid;
    align-items: center;
    place-items: center;
    cursor: pointer;
    padding: 0.2rem;
    color: white;
}

.icons :hover {
    color: #4AB07E;
}

.icons label {
    color: white;
    font-size: 0.35rem;
}

.profile img {
    width: 1.2rem;
    /* box-shadow: rgba(53, 53, 53, 0.24) 0px 3px 8px; */
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.2rem;
}

.proverb {
    display: none;
}

.nav-menu {
    position: absolute;
    width: 70%;
    height: 100vh;
    background-color: rgba(22, 22, 22, 0.804);
    transition: 0.3s;
    z-index: 10;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
}

.nav-menu.show {
    transform: translateX(0);
}

.nav-menu.hide {
    transform: translateX(-100%);
}

.nav-items {
    color: white;
    font-size: 0.5rem;
    padding: 0.2rem;
    width: 80%;
    text-align: left;
}

.nav-list>.link-style {
    padding: 0.1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.3rem;
    border-bottom: 1px solid #ccc;
    color: white;
}

.nav-list .link-style:hover {
    color: #4AB07E;
}

.nav-list label {
    font-size: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.link-style {
    text-decoration: none;

}

/********* TAG **********/

.tag {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.3rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.tag p {
    text-align: left;
    margin-left: 0.5rem;
    font-weight: 600;
}

.tag p:nth-of-type(1) {
    color: black;
    /* color: white; */
    font-size: 0.8rem;
}

.tag p:nth-of-type(2) {
    color: #4AB07E;
    font-size: 0.7rem;
}

.tag p:nth-of-type(3) {
    color: #9C9C9C;
    font-size: 0.5rem;
    margin-top: 0.1rem;
}

/********* PROJECTS **********/

.ProjectMain {
    margin-top: 0.5rem;
}

.titles p {
    font-size: 0.6rem;
    color: black;
    /* color: white; */
    text-align: left;
    margin: 0.4rem;
    margin-top: 0;
    font-weight: 600;
    padding: 0.3rem;
}

.card-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 0.33rem;
    width: 100%;
    position: relative;
}

.card-container::-webkit-scrollbar {
    overflow: hidden;
}

.card {
    flex: 0 0 auto;
    width: 5.5rem;
    height: 3.7rem;
    ;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    /* padding: 0.6rem; */
    border-radius: 0.25rem;
    color: white;
    font-size: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.card:active {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    opacity: 0.8;
}

.project-icon {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.icon-style {
    font-size: 1.5rem;
}

.project-title {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project-title>label {
    font-size: 0.5rem;
}

.card:nth-child(1) {
    background: linear-gradient(to right, #FFDD00, #FBB034);
    margin-left: 0.7rem;
}

.card:nth-child(2) {
    background: linear-gradient(to right, #009FFD, #2A2A72);
}

.card:nth-child(3) {
    background: linear-gradient(to right, #22c1c3, #fdbb2d);
}

.card:nth-child(4) {
    background: linear-gradient(to right, #184AEB, #71ECFE);
}

.card:nth-child(5) {
    background: linear-gradient(to right, #ff5e62, #ff9966);
}

.card:nth-child(6) {
    background: linear-gradient(to right, #6157FF, #EE49FD);
}

.card-scroll {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    visibility: hidden;
}

.project:hover .card-scroll,
.certifications:hover .card-scroll {
    display: block;
    background-color: rgba(126, 126, 126, 0.484);
    position: absolute;
    color: white;
    width: 1.25rem;
    height: 3.7rem;
    cursor: pointer;
    margin: 0;
    position: fixed;
    z-index: 2;
    border-radius: 0.2rem;
    opacity: 1;
    visibility: visible;
    border: none;
}

.certifications:hover .card-scroll {
    height: 4.5rem;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.certi {
    height: 54%;
}

.cert {
    width: 7.5rem;
    height: 4.5rem;
    flex-direction: row;
}

.cert-text {
    width: 60%;
    height: 100%;
}

.cert-style {
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.title>label {
    line-height: 0.8rem;
}

.title>label {
    font-size: 0.6rem;
    padding: 0.3rem;
}

.subtitle>label {
    font-size: 0.4rem;
    padding: 0.3rem;
    padding-top: 0;
}

.cert-icon {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cert-icon>.icon-style {
    font-size: 2.5rem;
}

.hamburger {
    display: none;
}

/********** RESPONSIVE SCREEN *********/

@media screen and (max-width: 500px) {
    * {
        font-size: 35px;
    }

    /* body {
        overflow: hidden;
    } */

    .menuicons {
        gap: 0.5rem;
    }

    .mobile-nav {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .hamburger {
        display: block;
        left: 0;
        padding: 0.2rem;
    }

    .hamburger:hover {
        color: #4AB07E;
    }

    .proverb {
        display: block;
        color: white;
        /* color: black; */
        text-align: center;
    }

    .proverb p {
        padding: 0.5rem;
        font-size: 0.5rem;
        font-weight: 400;
        opacity: 0;
        filter: blur(5px);
        animation: fadeInOut 30s ease-in-out infinite;
        animation-fill-mode: forwards;
    }

    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
            filter: blur(0);
        }

        80% {
            opacity: 1;
            filter: blur(0);
        }

        100% {
            opacity: 0;
        }
    }

    .profile {
        display: none;
    }

    .icons {
        display: none;
    }

    .tag p:nth-of-type(1) {
        font-size: 0.7rem;
    }

    .tag p:nth-of-type(2) {
        font-size: 0.6rem;
    }

    .tag p:nth-of-type(3) {
        font-size: 0.4rem;
    }

    .nav-list>.profile {
        margin-top: 3rem;
    }

    .project:hover .card-scroll,
    .certifications:hover .card-scroll {
        display: none;
    }

}