.project-page {
    width: 100vw;
    height: 100vh;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
}

.flipcard {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10.5rem);
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    justify-content: center;
}