.project-page {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: pink;
}

/* 
.navbar-fixed-top {
    position: fixed;
    top: 0;
}

.card-project {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 9rem);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-project.blur {
    background-color: rgba(0, 0, 0, 0.7);
}

.card-project::-webkit-scrollbar {
    overflow: hidden;
}

.cards {
    margin-top: 0.5rem;
    background-image: url(https://i.imgur.com/BVkPScj.jpg);
    height: 5.5rem;
    width: 9rem;
    border-radius: 0.2rem;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.cards:active {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    opacity: 0.8;
}

.card-project>div:last-child {
    margin-bottom: 0.5rem;
}

.cards>.project-title {
    background-color: rgba(3, 2, 2, 0.403);
    height: 28%;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.project-title label {
    text-align: center;
    font-weight: 500;
    color: white;
}

.popup-card {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.2rem;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */

/***********FLIP THE CARD*************/

.flipcard {
    position: relative;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    transition: transform .8s;
    cursor: pointer;
}

.flipcard.flipped {
    transform: rotateY(180deg);
}

.flipcard .front,
.flipcard .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flipcard .back {
    top: 2rem;
    backface-visibility: visible;
}

.flipcard .front {
    background: rgb(244, 40, 40);
    transform: rotateY(180deg);
}

.flipcard .back {
    background: rgb(60, 81, 244);
    transform: rotateY(0deg);
}