.source-wrapper {
    /* background-color: mediumslateblue; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.3rem;
}

.keypoints {
    width: 100%;
    text-align: left;
    color: white;
}

p {
    font-size: 0.5rem;
    font-family: 'Inter', sans-serif;
}

.code-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code-title {
    width: 100%;
    height: 1.2rem;
    color: white;
    background-color: #343541;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

.code-title>p {
    font-size: 0.4rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.code-snippet {
    width: 100%;
    background-color: black;
    color: white;
    height: 10rem;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}