@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
    font-size: 50px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #4AB07E;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*************** WELCOME PAGE ************************/

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-icon {
    /* background-color: blue; */
    width: 100%;
    height: 40%;
}

.welcome-icon iconify-icon {
    font-size: 5rem;
    color: white;
    margin-top: 2rem;
}

.para {
    /* background-color: brown; */
    width: 100%;
    height: 20%;
}

.para p {
    font-size: 0.5rem;
    color: white;
    font-weight: 500;
}

.button {
    /* background-color: pink; */
    width: 100%;
    height: 40%;
}

button {
    border: none;
    font-size: 0.5rem;
    padding: 0.3rem;
    margin-top: 1.5rem;
    width: 5rem;
    border-radius: 0.2rem;
    color: #4AB07E;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    height: 1.5rem;
}

button:active {
    transform: scale(0.98);
}

/*************** HOME PAGE ************************/

.intro {
    background-color: white;
}

.tile {
    width: 100%;
}

.title-card {
    height: 15%;
    display: flex;
}

.para-intro {
    width: 50%;
    display: flex;
    justify-content: center; /* align vertically */
    flex-direction: column;
}

.para-intro p{
    text-align: left;
    margin-left: 0.5rem;
}

.para-intro p:nth-of-type(1) {
    color: black;
    font-size: 0.4rem;
}

.para-intro p:nth-of-type(2) {
    color: #4AB07E;
    font-size: 0.4rem;
}

.para-intro p:nth-of-type(3) {
    color: #9C9C9C;
    font-size: 0.3rem;
}

.profile {
    /* background-color: black; */
    width: 50%;
    display: flex;
    justify-content: center; /* align vertically */
    flex-direction: column;
    align-items: flex-end;
}

.profile img{
    width: 1.2rem;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
}

.project {
    /* background-color: blue; */
    height: 18%;
}

.titles{
    /* background-color: red; */
    height: 20%;
}

.titles p{
    font-size: 0.4rem;
    color: black;
    text-align: left;
    margin-left: 0.5rem;
}

.project-tiles{
    /* background-color: orange; */
    height: 80%;
    display: flex;
}

.project-box{
    background-color: palevioletred;
    height: 80%;
    width: 5rem;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.certifications {
    background-color: yellow;
    height: 40%;
}

.nav-menu {
    background-color: green;
    height: 20%;
}


/*************** Responsive ************************/

@media (max-width:500px) {
    * {
        font-size: 40px;
    }
}