@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',
        sans-serif;
    font-size: 50px;
}

body{
    height: 100vh;
    width: 100vw;
    overflow:hidden;
    background-color: #4AB07E;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    user-select: none;
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-icon{
    /* background-color: blue; */
    width: 100%;
    height: 40%;
}

.welcome-icon iconify-icon{
    font-size: 5rem;
    color: white;
    margin-top: 2rem;
}

.profile{
    margin-top: 0.5rem;
}

.profile img{
    width: 5rem;
    box-shadow: rgba(12, 12, 12, 0.2) 0px 5px 10px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.para{  
    /* background-color: brown; */
    width: 100%;
    height: 20%;
}

.para p{
    font-size: 0.5rem;
    color: white;
    font-weight: 500;
}

.button{
    /* background-color: pink; */
    width: 100%;
    height: 40%;
}

.group-btn{
    display: flex;
    gap: 0.6rem;
}

button{
    border: none;
    font-size: 0.5rem;
    padding: 0.3rem;
    margin-top: 1.5rem;
    width: 5rem;
    border-radius: 0.2rem;
    color: #4AB07E;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
}

button:active{
    transform: scale(0.98);
}

.holo button{
    border: 0.1rem solid #1D70B8;
    background-color: white;
    color: #1D70B8;
    height: 1.4rem;
    text-align: center;
    padding: 0.2rem;
}

.pro button{
    width: 3.5rem;
}

.works button{
    width: 5.8rem;
}

.menu button{
    margin-top: 0.2rem;
}



@media (max-width:500px){
  *{
    font-size: 40px;
  }
}